/*chinh web ko còn khoảng trắng*/
body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > img {
  width: 100%;
}
#bgcolor {
  background: linear-gradient(blue, lightblue);
}

.menu1 > li > a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  font-size: 20px;
}

.menu1 {
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
}
header .menu2 > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
header .menu2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: bold;
  padding: 0 20px;
}
/*menu con cua menu2*/
header .menu2 > li {
  position: relative;
  z-index: 2;
}
.dropdown {
  position: absolute;
  list-style: none;
  width: 250px;
  background-color: rgb(66, 80, 232);
  padding: 0;
}
.dropdown > li > a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.dropdown > li {
  padding: 10px;
  border-bottom: 1px black solid;

}

.dropdown > li:hover {
  background: rgb(2, 2, 159);
}
.menu2 > li > ul {
  display: none;
}
.menu2 > li:hover > ul {
  display: block;
}
/*nút quay lại đầu trang*/
#gotopbtn {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 20px;
  font-size: 40px;
  border: none;
  padding: 0px;
  background-color:orange;
  border-radius: 4px;
  cursor: pointer;
}

.gotopbtn:hover{
  background-color: maroon;
}



.news {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: blue;
  font-size: 16px;
}
.left {
  width: 40%;
  padding-left: 60px;
}

.right {
  width: 60%;
  padding-right: 60px;
}

.related-news {
  list-style-type: none;
  display: flex;
}

.related-news li image {
  width: 100%;
  max-with: pixcel;
  height: auto;
}

.news img {
  width: 100%;
  max-with: pixcel;
  height: auto;
}
.news {
  display: flex;
}

.related_img {
  width: 25%;
}
.related_img {
  width: 100%;
}
/*footer*/
footer {
  float: left;
  width: 100%;
  background-color: #1d559d;
}
.row {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.boxcenter2 {
  width: 50%;
  /*can giua*/
  margin: 0 auto;
}

.boxfooter1 {
  width: 20%;
  float: left;
}
.boxfooter2 {
  width: 40%;
  float: left;
}
.boxfooter3 {
  width: 40%;
  float: left;
}
.copyright {
  text-align: center;
  font-weight: bold;
}
/*mau sai chung*/
.colorc {
  color: white;
}
.mrb10 {
  margin-bottom: 10px;
}
.log {
  padding: 0;
  display: flex;
}
.log > li {
  list-style-type: none;
  padding-right: 10px;
  font-size: 20px;
}

.filtered-news {
  background: rgb(234, 232, 232);
}

.filtered-news h2 {
  padding-top: 20px;
  text-align: center;
}

.news-list {
  list-style-type: none;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}
.news-list > li > a > img {
  width: 100%;
}
.news-list > li {
  width: 25%;
  padding: 0px 5px;
}

/*slide chuyển*/

.slider{
  width: 1300px;
  max-width: 100vm;
  height: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
  justify-content: center;
  z-index: 1;
}

.list{
  position: absolute;
  top: 0px;
  left:0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

.list img{
  width: 1300px;
  max-width: 100vm;
  height: 100%;
  object-fit: cover;
}

.buttons{
  position: absolute;
  top:45%;
  left:5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.dots{
  position: absolute;
  bottom: 10px;
  color: white;
  left:0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

.dots li.active{
  width: 30px;
}